## Assignmet 7, NumPy and Pandas

In [1]:
import numpy as np
import pandas as pd

## 1

In [ ]:
## Exercise 1:=> Create a numpy array containing the numbers from 1 to 10, and then reshape it to a 2x5 matrix.

In [3]:
arr1 = np.arange(1, 11)
reshaped_arr = arr1.reshape(2, 5)
print("2x5 matrix:\n", reshaped_arr)

2x5 matrix:
 [[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

## 2

In [ ]:
# Exercise 2:=>Create a numpy array containing the numbers from 1 to 20, and then extract the elements between the 5th and 15th index.

In [11]:
arr2 = np.arange(1, 21)
extracted = arr2[5:16]  
print("Extracted elements (5th to 15th index):", extracted)

Extracted elements (5th to 15th index): [ 6  7  8  9 10 11 12 13 14 15 16]

## 3

In [ ]:
#  Exercise 3:=> Create a Pandas series with the following data: {'apples': 3, 'bananas': 2, 'oranges': 1}. 
#                Then, add a new item to the series with the key 'pears' and the value 4.

In [19]:
fruits = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
fruits['pears'] = 4
print("Updated Series:\n", fruits)

Updated Series:
 apples     3
bananas    2
oranges    1
pears      4
dtype: int64

## 4

In [ ]:
# Exercise 4:=> Create a dataframe with the following columns: name, age, and gender. The dataframe should have 10 rows of data.

In [20]:
data = {
    'name': ['Shyna', 'Jerry', 'Ram', 'David', 'Eliz', 'Francis', 'Grazy', 'Fatima', 'Iype', 'Janu'],
    'age': [25, 30, 22, 35, 28, 40, 27, 31, 29, 33],
    'gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F']
}
df = pd.DataFrame(data)
print("DataFrame:\n", df)

DataFrame:
       name  age gender
0    Shyna   25      F
1    Jerry   30      M
2      Ram   22      M
3    David   35      M
4     Eliz   28      F
5  Francis   40      M
6    Grazy   27      F
7   Fatima   31      F
8     Iype   29      M
9     Janu   33      F

## 5

In [ ]:
# Exercise 5:=> Add a new column to the data frame created in the question above, called occupation. 
#               The values for this column should be Programmer, Manager, and Analyst, corresponding to the rows in the dataframe.

In [23]:
occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 
               'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']
df['occupation'] = occupations
print("DataFrame with Occupation included:\n", df)

DataFrame with Occupation included:
       name  age gender  occupation
0    Shyna   25      F  Programmer
1    Jerry   30      M     Manager
2      Ram   22      M     Analyst
3    David   35      M  Programmer
4     Eliz   28      F     Manager
5  Francis   40      M     Analyst
6    Grazy   27      F  Programmer
7   Fatima   31      F     Manager
8     Iype   29      M     Analyst
9     Janu   33      F  Programmer

## 6

In [ ]:
# Exercise 6:=> Select the rows of the dataframe where the age is greater than or equal to 30.

In [24]:
#Select rows where age >= 30

age_filtered_df = df[df['age'] >= 30]
print("Rows where age >= 30:\n", age_filtered_df)

Rows where age >= 30:
       name  age gender  occupation
1    Jerry   30      M     Manager
3    David   35      M  Programmer
5  Francis   40      M     Analyst
7   Fatima   31      F     Manager
9     Janu   33      F  Programmer

## 7

In [ ]:
# Exercise 7: Convert this dataframe to a csv file and read that csv file, finally display the contents.

In [26]:
# Convert DataFrame to CSV and read it back
csv_file = 'people.csv'
df.to_csv(csv_file, index=False)

# Read the CSV file
read_df = pd.read_csv(csv_file)
print("Contents of the CSV file:\n", read_df)

Contents of the CSV file:
       name  age gender  occupation
0    Shyna   25      F  Programmer
1    Jerry   30      M     Manager
2      Ram   22      M     Analyst
3    David   35      M  Programmer
4     Eliz   28      F     Manager
5  Francis   40      M     Analyst
6    Grazy   27      F  Programmer
7   Fatima   31      F     Manager
8     Iype   29      M     Analyst
9     Janu   33      F  Programmer