## Assignment 2 /Data Structures in Python/ Deadline 03 March /2025

### List Exercise

## 1

In [ ]:
#  Q1 :=> Create a list of 5 random numbers and print the list.

In [21]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
print("List of random numbers: ", random_numbers)

List of random numbers:  [4, 61, 8, 56, 23]

## 2

In [19]:
# Q2 :=> Insert 3 new values to the list and print the updated list.

In [22]:
random_numbers.extend([1, 2, 3])
print("Updated List:", random_numbers)

Updated List: [4, 61, 8, 56, 23, 1, 2, 3]

## 3

In [12]:
# Q3:=> Try to use a for loop to print each element in the list.

In [23]:
for num in random_numbers:
    print(num)

4
61
8
56
23
1
2
3

### Dictionary Exercise

## 1

In [24]:
# Q1 :=> Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [25]:
Person = {'name': 'John', 'age': 25, 'address': 'New York'}
print(Person)

{'name': 'John', 'age': 25, 'address': 'New York'}

## 2

In [ ]:
# Q2:=> Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'

In [26]:
Person['phone']=1234567890
print("Updated Dictionary:",Person)

Updated Dictionary: {'name': 'John', 'age': 25, 'address': 'New York', 'phone': 1234567890}

### Set Exercise

## 1

In [ ]:
# Q1:=> Create a set with values 1, 2, 3, 4, and 5.

In [28]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

## 2

In [ ]:
# Q2:=> Add the value 6 to the set created in Q1.

In [29]:
my_set.add(6)
print("Updated set:", my_set)

Updated set: {1, 2, 3, 4, 5, 6}

## 3

In [ ]:
# Q3:=> Remove the value 3 from the set created in Q1

In [42]:
my_set.discard(3)
print(my_set)

{1, 2, 4, 5, 6}

### Tuple Exercise

## 1

In [32]:
# Q1:=> Create a tuple with values 1, 2, 3, and 4

In [34]:
my_tuple = (1,2,3,4)
print("my_tuple: ", my_tuple)

my_tuple:  (1, 2, 3, 4)

## 2

In [ ]:
# Q2:=> Print the length of the tuple created in Q1.

In [45]:
print("length of the tuple: ", len(my_tuple))

length of the tuple:  4